@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Merriweather:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@500&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: lightyellow;
	font-family: Roboto, sans-serif;
}

.Boton {
	background: black;
	color: azure;	
	font-size: 2rem;
	position: fixed;
	bottom: 1em;
	right: 1em;
}

header {
	background:rgb(199,197,34);
	margin-bottom: 2em;
	width: 100%;
}

.imagen1{
	display: flex;
}

h1 {
	font-family: 'Dancing script', serif;
	font-size: 3.5rem;
	text-decoration: underline black solid 2px;
	text-shadow: -12px 20px 3px grey;
}

.imagen1 img {
	width: 100px;
}

a {
	text-decoration: none;
	color: black;
	border: 3px solid black;
	border-radius: 10px 10px 10px 10px;
	padding: 0.5rem;
}

a:hover {
	background: lightyellow;
	color: indianred;
} 
a:focus {
	color: indianred;
	text-decoration: underline 2px black solid;
}

li a:focus-visible {
	outline: none;
}

ul {
	padding: 0.5em;
	font-size: 1.5em;
	text-align: right;
	
}
ul li {
	display: inline-block;
	margin: 0.5em 0.5em;
	padding:0 0.5em 0 0.5em;
}

.intro {
	font-family: Kalnia, serif;
	font-size: 1.5em;
}

h2 {
	text-align: center;
	background: black;
	color: azure;
	margin: auto;
	padding: 1em;
	font-size: 2em;
	border: 5px solid #F8F144;
	border-right: none;
	border-left: none;
	border-top: 5px solid rgb(230,250,100);
	border-radius: 20px 20px 20px 20px;
	width: 70%;
	position: sticky;
}

h3 {
	background: indianred;
	margin: 1em 3rem 1em 1em;
	padding: 0.5em;
	width: 35%;
	font-size: 1.5em;
	text-decoration: underline 3px double;
	border-radius: 2px 30px 2px 30px;

}

p {
	font-family: Kanit, serif;
	font-weight: 500;
	margin: 1em;
	font-size: 1.5rem;
	text-align: justify;
}

.almacenado {
	padding-left: 10em;
}

.embandejado {
	padding-left: 10em;
}

.incubadoras {
	padding-left: 10em;
}

.ovoscopia {
	padding-left: 10em;
}

.retiro {
	padding-left: 10em;
}

.blancas {
	padding-left: 10em;
}

.color {
	padding-left: 10em;
}

.imgvac1 {
	padding-left: 10em;
}
.recepcion {
	padding-left: 10em;
}

footer {
	background: rgb(199,197,34);
	font-size: 1em;
	text-decoration: underline 2px solid;
}

@media (max-width: 576px) {
	ul {
		text-align: left;
	}
	h2 {
		width: 90%;
	}
	h3 {
		text-align: center;
		margin: auto;
		width: 60%;
	}

	.embandejado {
		padding-left: 1em;
	}

	.almacenado {
		padding-left: 1em;
	}

	.ovoscopia {
		padding-left: 1em;
	}

	.incubadoras {
		padding-left: 1em;
	}

	.retiro {
		padding-left: 1em;
	}

	.blancas {
		padding-left: 1em;
	}

	.color {
		padding-left: 1em;
	}

	.imgvac1 {
		padding-left: 1em;
	}

	.recepcion {
		padding-left: 1em;
	}
}

@media (min-width: 577px) and (max-width: 1000px) {
	ul {
		text-align: left;
	}
	h2 {
		width: 70%;
	}
	h3 {
		text-align: center;
	}

	.embandejado {
		padding-left: 5em;
	}

	.almacenado {
		padding-left: 5em;
	}

	.ovoscopia {
		padding-left: 5em;
	}

	.incubadoras {
		padding-left: 5em;
	}

	.retiro {
		padding-left: 5em;
	}

	.blancas {
		padding-left: 5em;
	}

	.color {
		padding-left: 5em;
	}

	.imgvac1 {
		padding-left: 5em;
	}

	.recepcion {
		padding-left: 5em;
	}
}

@media (min-width: 1001px) {
	h2 {
		width: 50%;
	}
}