@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Merriweather:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@500&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: lightyellow;
	font-family: Roboto, sans-serif;
}

.Boton {
	background: black;
	color: azure;	
	font-size: 2rem;
	position: fixed;
	bottom: 1em;
	right: 1em;
}

header {
	background:rgb(199,197,34);
	margin-bottom: 2em;
	width: 100%;
}

.imagen1{
	display: flex;
}

h1 {
	font-family: 'Dancing script', serif;
	font-size: 3.5rem;
	text-decoration: underline black solid 2px;
	text-shadow: -12px 20px 3px grey;
}

.imagen1 img {
	width: 100px;
}

a {
	text-decoration: none;
	color: black;
	border: 3px solid black;
	border-radius: 10px 10px 10px 10px;
	padding: 0.5rem;
}

a:hover {
	background: lightyellow;
	color: indianred;
} 
a:focus {
	color: indianred;
	text-decoration: underline 2px black solid;
}

li a:focus-visible {
	outline: none;
}

ul {
	padding: 0.5em;
	font-size: 1.5em;
	text-align: right;
	
}
ul li {
	display: inline-block;
	margin: 0.5em 0.5em;
	padding:0 0.5em 0 0.5em;
}

.intro {
	font-family: Kalnia, serif;
	font-size: 1.5em;
}

h2 {
	text-align: center;
	background: black;
	color: azure;
	margin: auto;
	padding: 1em;
	font-size: 2em;
	border: 5px solid #F8F144;
	border-right: none;
	border-left: none;
	border-top: 5px solid rgb(230,250,100);
	border-radius: 20px 20px 20px 20px;
	width: 70%;
	position: sticky;
}

h3 {
	background: indianred;
	margin: 1em 3rem 1em 1em;
	padding: 0.5em;
	width: 30%;
	font-size: 1.5em;
	text-decoration: underline 3px double;
	border-radius: 2px 30px 2px 30px;

}

p {
	font-family: Kanit, serif;
	font-weight: 500;
	margin: 1em;
	font-size: 1.5rem;
	text-align: justify;
}

.almacenado {
	padding-left: 10em;
}

.embandejado {
	padding-left: 10em;
}

.incubadoras {
	padding-left: 10em;
}

.ovoscopia {
	padding-left: 10em;
}

.retiro {
	padding-left: 10em;
}

.blancas {
	padding-left: 10em;
}

.color {
	padding-left: 10em;
}

.imgvac1 {
	float: right;
	margin-right: 10em;
	margin-top: 5em;
}

.imgvac2{
	margin-left: 10em;
}

.control1 {
	float: right;
	margin-right: 10em;
	margin-top: 5em;
}

.control2 {
	margin-left: 10em;
}

footer {
	background: indianred;
	font-size: 1em;
	text-decoration: underline 2px solid;
}